<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0013_Frame-100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{0,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0015_Frame-98.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{559,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0017_Frame-96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1118,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0019_Frame-94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1677,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0021_Frame-92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2236,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0023_Frame-90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2795,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0025_Frame-88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3354,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0027_Frame-86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3913,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0029_Frame-84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{4472,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0031_Frame-82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5031,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0033_Frame-80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5590,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0035_Frame-78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6149,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0037_Frame-76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6708,0},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0039_Frame-74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{0,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0041_Frame-72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{559,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0043_Frame-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1118,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0045_Frame-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1677,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0047_Frame-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2236,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0049_Frame-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2795,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0051_Frame-62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3354,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0053_Frame-60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3913,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0055_Frame-58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{4472,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0057_Frame-56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5031,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0059_Frame-54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5590,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0061_Frame-52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6149,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0063_Frame-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6708,780},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0065_Frame-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{0,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0067_Frame-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{559,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0069_Frame-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1118,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0071_Frame-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1677,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0073_Frame-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2236,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0075_Frame-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2795,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0077_Frame-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3354,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0079_Frame-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3913,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0081_Frame-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{4472,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0083_Frame-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5031,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0085_Frame-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5590,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0087_Frame-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6149,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0089_Frame-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6708,1560},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0091_Frame-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{0,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0093_Frame-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{559,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0095_Frame-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1118,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0097_Frame-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{1677,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0099_Frame-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2236,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0101_Frame-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{2795,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0103_Frame-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3354,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0105_Frame-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{3913,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0107_Frame-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{4472,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0109_Frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5031,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0111_Frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{5590,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sepientes-Laterales-Piramide-01-Recovered_0113_Frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,780}</string>
                <key>spriteSourceSize</key>
                <string>{559,780}</string>
                <key>textureRect</key>
                <string>{{6149,2340},{559,780}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Angel.png</string>
            <key>size</key>
            <string>{7267,3120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6775dc412f10b36d2fe9b54af64b9310:ff2a4f6aaf6ed5abfce0f43d903c63a5:9fff22a155c55baaf2a2ce28a8b33d72$</string>
            <key>textureFileName</key>
            <string>Angel.png</string>
        </dict>
    </dict>
</plist>
