<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{0,0},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{391,0},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{782,0},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1173,0},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1564,0},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{0,109},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{391,109},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{782,109},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1173,109},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1564,109},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{0,218},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{391,218},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{782,218},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1173,218},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1564,218},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{0,327},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{391,327},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{782,327},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1173,327},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,109}</string>
                <key>spriteSourceSize</key>
                <string>{391,109}</string>
                <key>textureRect</key>
                <string>{{1564,327},{391,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BonusCorner.png</string>
            <key>size</key>
            <string>{1955,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c3a28b5852f5a8e795018a470773526:ccc056f21e37fe1acff548298ddcb6d1:5c0357da037fc4c266fb4e17a0a55882$</string>
            <key>textureFileName</key>
            <string>BonusCorner.png</string>
        </dict>
    </dict>
</plist>
