<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{136,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{272,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{408,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{544,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{680,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{816,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{952,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1088,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1224,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1360,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1496,0},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{0,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{136,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{272,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{408,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{544,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{680,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{816,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{952,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1088,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1224,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1360,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,524}</string>
                <key>spriteSourceSize</key>
                <string>{136,524}</string>
                <key>textureRect</key>
                <string>{{1496,524},{136,524}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Coin_Box.png</string>
            <key>size</key>
            <string>{1632,1048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d54ab7cfe661504a47b869564122b4e:a4367c0c1de8d221d95b6f9db971c2e1:5073ecb64fc8048db64330f02104781b$</string>
            <key>textureFileName</key>
            <string>Coin_Box.png</string>
        </dict>
    </dict>
</plist>
