<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{0,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{106,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{212,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{318,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{424,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{530,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{636,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{742,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{848,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{954,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1060,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1166,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1272,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1378,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1484,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1590,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>L17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,717}</string>
                <key>spriteSourceSize</key>
                <string>{106,717}</string>
                <key>textureRect</key>
                <string>{{1696,0},{106,717}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Die_Piedra.png</string>
            <key>size</key>
            <string>{1802,717}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01f300b86651b3f6c47eb2af8ec90e6:33260fc3c43b817e7a0fe75734de5b1b:b0ecf03ab9927d3158c2f1323fa8bb38$</string>
            <key>textureFileName</key>
            <string>Die_Piedra.png</string>
        </dict>
    </dict>
</plist>
