<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_Pantalla_3_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{0,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{142,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{284,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{426,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{568,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{710,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{852,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{994,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1136,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1278,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1420,0},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{0,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{142,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{284,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{426,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{568,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{710,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{852,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{994,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1136,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1278,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_Pantalla_3_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,318}</string>
                <key>spriteSourceSize</key>
                <string>{142,318}</string>
                <key>textureRect</key>
                <string>{{1420,318},{142,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DieArrow.png</string>
            <key>size</key>
            <string>{1562,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dcde79668eb028c90ba39d11549d67e:179498266a4a9c12fae1a77167d82364:167e59d52f9c5a852473cac857df05f3$</string>
            <key>textureFileName</key>
            <string>DieArrow.png</string>
        </dict>
    </dict>
</plist>
