<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle_Pose_01_0000_26_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,0},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,0},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,0},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,151},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,151},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,151},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,151},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,302},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,302},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,302},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,302},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,453},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,453},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,453},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,453},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,604},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,604},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,604},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,604},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,755},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,755},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,755},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,755},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,906},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,906},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,906},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,906},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,1057},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,1057},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,1057},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,1057},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,1208},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,1208},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,1208},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,1208},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,1359},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,1359},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,1359},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,1359},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,1510},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,1510},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,1510},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,1510},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,1661},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{116,1661},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{232,1661},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_Pose_01_0000_26_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{348,1661},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplorerInsideIdle.png</string>
            <key>size</key>
            <string>{464,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d4cf2d4314f47bc2871aeb50054b906:9dcbc8c72e5d3af62f450de67ca9f640:5d4c7f802f7f2c4dc9c8d223f864385c$</string>
            <key>textureFileName</key>
            <string>ExplorerInsideIdle.png</string>
        </dict>
    </dict>
</plist>
