<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle-Pose-1°-Pantalla_0000_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0001_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,157},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0002_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,314},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0003_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,471},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0004_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,628},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0005_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,785},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0006_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,942},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0007_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,1099},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0008_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,1256},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle-Pose-1°-Pantalla_0009_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,157}</string>
                <key>spriteSourceSize</key>
                <string>{103,157}</string>
                <key>textureRect</key>
                <string>{{0,1413},{103,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplorerOutsideIdleR.png</string>
            <key>size</key>
            <string>{103,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b648a1b35a5df1c2784556294ff39703:d5790b5f131db8f290522e2813de0fe0:0da4f66c69bbd464bd9f69da54153919$</string>
            <key>textureFileName</key>
            <string>ExplorerOutsideIdleR.png</string>
        </dict>
    </dict>
</plist>
