<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion_Die_01_Done_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{0,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{292,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{584,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{876,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1168,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1460,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1752,0},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{0,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{292,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{584,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{876,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1168,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1460,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1752,203},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{0,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{292,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{584,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{876,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1168,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_Die_01_Done_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,203}</string>
                <key>spriteSourceSize</key>
                <string>{292,203}</string>
                <key>textureRect</key>
                <string>{{1460,406},{292,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Explosion.png</string>
            <key>size</key>
            <string>{2044,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cddf60dfe07039af91f165490cb41252:d20e69618ceb613f9a7eac2436d82519:fe049886709682b4c74f6865e9893d85$</string>
            <key>textureFileName</key>
            <string>Explosion.png</string>
        </dict>
    </dict>
</plist>
