<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{585,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{780,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{975,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1170,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1365,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1560,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1755,0},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{0,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{195,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{390,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{585,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{780,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{975,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1170,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1365,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1560,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PIRAMIDE_CAVERNA_01_Explorador_Salto_DESCENDENTE_VERSION_02_BU_00000_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,324}</string>
                <key>spriteSourceSize</key>
                <string>{195,324}</string>
                <key>textureRect</key>
                <string>{{1755,324},{195,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InsideJumpDown.png</string>
            <key>size</key>
            <string>{1950,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c87ffea3668eaa5a6204734c9c2c5e6a:f3828dc76ac255f0b5d97c64bf9cd15d:ba2b874a0f77461b2d594127b276af64$</string>
            <key>textureFileName</key>
            <string>InsideJumpDown.png</string>
        </dict>
    </dict>
</plist>
