<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Comp 1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{0,0},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{357,0},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{714,0},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1071,0},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1428,0},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{0,246},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{357,246},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{714,246},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1071,246},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1428,246},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{0,492},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{357,492},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{714,492},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1071,492},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1428,492},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{0,738},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{357,738},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{714,738},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1071,738},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1428,738},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{0,984},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{357,984},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{714,984},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1071,984},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Comp 1_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,246}</string>
                <key>spriteSourceSize</key>
                <string>{357,246}</string>
                <key>textureRect</key>
                <string>{{1428,984},{357,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>InsideJumpLSide.png</string>
            <key>size</key>
            <string>{1785,1230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ba56d8855941b665a4f7e51c9127e88:35adcf62a926fa5b76b5f260426babd6:cd6b1d635aa1d5579b00856e905af389$</string>
            <key>textureFileName</key>
            <string>InsideJumpLSide.png</string>
        </dict>
    </dict>
</plist>
