<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Lateral-01_0000_Frame-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{0,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0001_Frame-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{208,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0002_Frame-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{416,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0003_Frame-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{624,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0004_Frame-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{832,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0005_Frame-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1040,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0006_Frame-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1248,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0007_Frame-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1456,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0008_Frame-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1664,0},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0009_Frame-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{0,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0010_Frame-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{208,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0011_Frame-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{416,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0012_Frame-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{624,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0013_Frame-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{832,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0014_Frame-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1040,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0015_Frame-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1248,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0016_Frame-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1456,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0017_Frame-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1664,375},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0018_Frame-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{0,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0019_Frame-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{208,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0020_Frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{416,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0021_Frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{624,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0022_Frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{832,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0023_Frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1040,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0024_Frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,375}</string>
                <key>spriteSourceSize</key>
                <string>{208,375}</string>
                <key>textureRect</key>
                <string>{{1248,750},{208,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jump24.png</string>
            <key>size</key>
            <string>{1872,1125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8be1569460a3af18bc49d43547e7e6:bef0e45d63ed6e67859f510cc045a2ba:7bac0592964ebd81d700828479a83185$</string>
            <key>textureFileName</key>
            <string>jump24.png</string>
        </dict>
    </dict>
</plist>
