<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump_Lateral-01_0000_Frame-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,0},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0001_Frame-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,0},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0002_Frame-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,0},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0003_Frame-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,175},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0004_Frame-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,175},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0005_Frame-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,175},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0006_Frame-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,350},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0007_Frame-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,350},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0008_Frame-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,350},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0009_Frame-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,525},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0010_Frame-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,525},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0011_Frame-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,525},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0012_Frame-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,700},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0013_Frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,700},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0014_Frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,700},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0015_Frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{0,875},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0016_Frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{265,875},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_Lateral-01_0017_Frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,175}</string>
                <key>spriteSourceSize</key>
                <string>{265,175}</string>
                <key>textureRect</key>
                <string>{{530,875},{265,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Jump_Lateral24.png.png</string>
            <key>size</key>
            <string>{795,1050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1980bd3c97ffef7121a64c0ff01f021:6de2a689edd34a38c125d6042e934f7f:ce46e4d9a7e56eb13198f1b79692b623$</string>
            <key>textureFileName</key>
            <string>Jump_Lateral24.png.png</string>
        </dict>
    </dict>
</plist>
