<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Salto_Hole_01_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{0,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{207,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{414,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{621,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{828,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1035,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1242,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1449,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1656,0},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{0,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{207,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{414,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{621,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{828,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1035,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1242,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1449,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1656,341},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{0,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{207,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{414,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{621,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{828,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1035,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1242,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Salto_Hole_01_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,341}</string>
                <key>spriteSourceSize</key>
                <string>{207,341}</string>
                <key>textureRect</key>
                <string>{{1449,682},{207,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>OutsideJumpHole.png</string>
            <key>size</key>
            <string>{1863,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5377ef8552d22173afe2629e873a23e:0da675b076fe9b92550db913bf81d005:28439273bb986c1b751046e24b322b1f$</string>
            <key>textureFileName</key>
            <string>OutsideJumpHole.png</string>
        </dict>
    </dict>
</plist>
