<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{0,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{284,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{568,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{852,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{1136,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{1420,0},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{0,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{284,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{568,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{852,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{1136,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{1420,834},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{0,1668},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{284,1668},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{568,1668},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,834}</string>
                <key>spriteSourceSize</key>
                <string>{284,834}</string>
                <key>textureRect</key>
                <string>{{852,1668},{284,834}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SaltoCilindro.png</string>
            <key>size</key>
            <string>{1704,2502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628bbbdeb3ce45ed71b2036c707edd4a:296b87711b39460616ba52015ca65f23:dfb78b8a73294ef82a98db3fe5fa47a0$</string>
            <key>textureFileName</key>
            <string>SaltoCilindro.png</string>
        </dict>
    </dict>
</plist>
